<div class="container">
    <div class="row">
        <div class="col-md-12 pt-100">
            <img src="/assets/images/webinar-page-banner.jpg" width="100%">
            <hr>
        </div>
    </div>

    <div class="row pb-80">
        <div class="col-md-8 webinar-info webinar-left-info">
            <p>Our expert panelists will share their insights and best practices on how businesses can leverage cloud data engineering to gain a competitive edge in their respective industries. Whether you are a business owner, IT manager, or data analyst, this webinar is for you.</p>
            <p>Join us to learn how cloud data engineering can transform your business and accelerate your revenue growth.</p>
            <hr>
            <h4>Speakers</h4>
            <img src="/assets/images/webinar-speaker.png" width="60%">
        </div>
        <div class="col-md-4">
            <div class="webinar-info webinar-right-info">
                <p>Session ended. You can watch the session recording by clicking the link below.</p>
                <button class="webinar-btn btn"><a href="https://www.youtube.com/watch?v=VuL8imjD4y0" target="_blank" >Watch Webinar</a></button>
            </div>
        </div>
    </div>
</div>