<div class="container">
    <div class="row">
        <div class="col-md-12 pt-100 pb-50 news-info">
            <h1>QBrainX Received Appreciation from Agilityhealth!</h1>
            <img class="pt-3" src="/assets/images/agility-appreciation-news-banner.jpg" width="100%">
            <p class="pt-5">We are excited to share with you some great news regarding our work with Agilityhealth, a leading measurement and continuous growth platform for organizations. Agilityhealth has been using our web-based product developed in ASP.Net for some time now, and they have been looking to modernize their current monolithic technology platform to improve their business agility and growth.</p>
            <p>In order to create a cutting-edge microservices platform that is more reliable, scalable, and effective, we have been working closely with Agilityhealth. We have taken an approach of understanding their domain by doing a POC which has given us immense domain knowledge on how the client operates in that domain.</p>
            <p>The core of our envisioned architecture for the technology modernization has been implemented and deployed in the cloud services, which has given the client more confidence in our key strengths. This significant milestone in our relationship with Agilityhealth makes us proud of our accomplishments to date.</p>
            <div class="text-center pt-5 pb-5">
                <img src="/assets/images/agilityhealth-certificate.jpeg" width="40%">
            </div>
            <p>Here is what the AgilityHealth Team has to say</p>
            <p class="quote">“Well done Team! Thank you for delivering high-quality work on the Tech-MOD Architectural Design project.”</p>
            <p>We appreciate your hardwork and commitment to this project. We will continue to keep you updated on our progress with Agilityhealth.</p>
        </div>
    </div>
</div>