<!-- Modal Start-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Save Your Seat</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="row g-4">
                <div class="col-lg-12">
                    <div class="form-inner">
                        <input type="text" name="name" placeholder="Full Name">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-inner">
                        <input type="text" name="email" placeholder="Email Address">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-inner">
                        <input type="text" name="role" placeholder="Your Role">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-inner">
                        <input type="text" name="company" placeholder="Company/Institution">
                    </div>
                </div>
            </div>
        </form>
        </div>
        <div class="modal-footer text-left">
          <button type="button" class="btn btn-download">Register</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal End-->

<div class="container">
    <div class="row">
        <div class="col-md-12 pt-100">
            <img src="/assets/images/webinar-page-banner.jpg" width="100%">
            <hr>
        </div>
    </div>

    <div class="row pb-80">
        <div class="col-md-8 webinar-info webinar-left-info">
            <p>Our expert panelists will share their insights and best practices on how businesses can leverage cloud data engineering to gain a competitive edge in their respective industries. Whether you are a business owner, IT manager, or data analyst, this webinar is for you.</p>
            <p>Join us to learn how cloud data engineering can transform your business and accelerate your revenue growth.</p>
            <hr>
            <h4>Speakers</h4>
            <img src="/assets/images/webinar-speaker.png" width="60%">
        </div>
        <div class="col-md-4">
            <div class="webinar-info webinar-right-info">
                <p>You can register the session clicking the link below.</p>
                <button class="webinar-btn btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Regiter Now</button>
            </div>
        </div>
    </div>
</div>