<div class="inner-banner">
    <img src="assets/images/inner-bannerdot.png" class="inner-bannerdot" alt="image" />
    <img src="assets/images/inner-bannerwave.png" class="inner-bannerwave" alt="image" />

    <div class="container">
        <div class="row d-flex justify-content-center align-items-center text-center">
            <div class="col-md-6">
                <h2 class="inner-banner-title wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s">
                    Data Solution
                </h2>
            </div>
        </div>
    </div>
</div>

<div class="faq-section pt-50 pb-100" id="faq">
    <div class="container">
        <div class="row">
            <!-- <div class="col-md-12 title text-center">
                <span>ServiceNow Services</span>
                <h3>Importance of Microservice Architecture</h3>
            </div> -->
        </div>
        <div class="row pt-5 g-4 justify-content-center">
            <div class="col-lg-4">
                <div class="sidebar-card wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s">
                    <img src="assets/images/data_solution_qbx.jpg" width="100%">
                    <h2 class="pt-3">Why Choose QBrainX Data Solution</h2>
                    <p class="pt-3">QBrainX’s digital expertise in data analytics enables you to unlock multi-faceted business outcomes by leveraging the power of all disruptive next-generation data technologies.</p>
                    <p class="pt-3">We assist you in analyzing and developing a solid data foundation in order to optimize business performance and create new data opportunities.</p>
                    <p class="pt-3">Data management services assist in the consolidation of fragmented data and the application of data analytics techniques to solve your business problems in real-time.</p>
                    <!-- <a href="contact.html" class="eg-btn btn--primary btn--lg">Work Together</a> -->
                </div>
            </div>
            <div class="col-lg-8">
                <div class="col-md-12 title mb-5">
                    <!-- <span>ServiceNow Services</span> -->
                    <h3>Our Data Analytics Service Offerings</h3>
                    <!-- <p class="pt-3">Microservice architecture is a software development style in which various components are created and maintained as separate services. Each microservice is designed to be small, handle a single business function, and be deployed separately from the rest of the system.</p> -->
                </div>
                <div class="faq-wrap wow fadeInRight pb-120" data-wow-duration="1.5s" data-wow-delay=".2s">
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading10" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse10" aria-controls="collapse10">
                            Analytics as a Service (AaaS)
                        </h5>
                        <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="heading10">
                            <div class="faq-body style-2">
                                QBrainX enables you to obtain enterprise-class analytics in the cloud while avoiding the deployment and management of infrastructure. You can conduct data analysis on a fully customized cloud analytics platform built and maintained by us.
                            </div>
                        </div>
                    </div>
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading11" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse11" aria-controls="collapse11">
                            Managed data analysis
                        </h5>
                        <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="heading11">
                            <div class="faq-body style-2">
                                Our data analysts collect and process your data in order to provide you with instant one-time or recurring analytics insights.
                            </div>
                        </div>
                    </div>
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading12" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse12" aria-controls="collapse12">
                            Data Analytics Consulting
                        </h5>
                        <div id="collapse12" class="accordion-collapse collapse" aria-labelledby="heading12">
                            <div class="faq-body style-2">
                                Our consultants assist you in selecting the best data analytics strategy and guiding you through the process of developing, designing, implementing, and improving data analytics solutions.
                            </div>
                        </div>
                    </div>
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading13" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse13" aria-controls="collapse13">
                            Data Analytics implementation
                        </h5>
                        <div id="collapse13" class="accordion-collapse collapse" aria-labelledby="heading13">
                            <div class="faq-body style-2">
                                We implement and design an analytics solution that addresses your current data analytics needs while scaling up as they grow.
                            </div>
                        </div>
                    </div>
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading14" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse14" aria-controls="collapse14">
                            Data Analytics modernization
                        </h5>
                        <div id="collapse14" class="accordion-collapse collapse" aria-labelledby="heading14">
                            <div class="faq-body style-2">
                                We assist you in upgrading your existing data analytics solution to maximize ROI and meet new data analytics requirements.
                            </div>
                        </div>
                    </div>
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading15" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse15" aria-controls="collapse15">
                            CRM Analytics
                        </h5>
                        <div id="collapse15" class="accordion-collapse collapse" aria-labelledby="heading15">
                            <div class="faq-body style-2">
                                QBrainX’s AI-powered intelligent CRM platform suite can help you improve your customer experience strategy.
                            </div>
                        </div>
                    </div>
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading16" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse16" aria-controls="collapse16">
                            Digital Analytics
                        </h5>
                        <div id="collapse16" class="accordion-collapse collapse" aria-labelledby="heading16">
                            <div class="faq-body style-2">
                                Using Machine Learning Insights, you can protect and grow your business. All systems are monitored by a cloud-native M/L service, saving time and reputation.
                            </div>
                        </div>
                    </div>
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading17" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse17" aria-controls="collapse17">
                            Big Data Analytics
                        </h5>
                        <div id="collapse17" class="accordion-collapse collapse" aria-labelledby="heading17">
                            <div class="faq-body style-2">
                                Collecting, processing, and storing massive amounts of operational data, detecting deviations, identifying bottlenecks, and forecasting.
                            </div>
                        </div>
                    </div>
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading18" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse18" aria-controls="collapse18">
                            Regulatory and compliance Analytics
                        </h5>
                        <div id="collapse18" class="accordion-collapse collapse" aria-labelledby="heading18">
                            <div class="faq-body style-2">
                                QBrainX helps you assess risk data and quality metrics to improve the efficiency and quality of your products or services.
                            </div>
                        </div>
                    </div>
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading19" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse19" aria-controls="collapse19">
                            Fraud and Risk Analytics
                        </h5>
                        <div id="collapse19" class="accordion-collapse collapse" aria-labelledby="heading19">
                            <div class="faq-body style-2">
                                Using QBrainX’s Analytical algorithms detect and investigate the trends that could indicate unusual behavior or potential rule violations, as well as the real-time analysis of qualitative and quantitative compliance risk factors.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="service2-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 title text-center">
                <!-- <span>ServiceNow Services</span> -->
                <h3>Data Management Offerings</h3>
                <p class="pt-3">A comprehensive data management program that includes the following elements to assist you in managing corporate data throughout its life cycle:</p>
            </div>
        </div>
        <div class="row g-4 pt-5">
            <div class="col-lg-4 col-md-6 col-sm-10">
                <div class="service-item2 wow fadeInDown" data-wow-duration="1.5s" data-wow-delay="0.4s">
                    <img src="assets/images/data-governance.svg" class="service21-icon" alt="image" width="50px">
                    <div class="service-content">
                        <span>01</span>
                        <h4>Data Governance</h4>
                        <p class="para">Developing data governance standards and policies to ensure data integration, availability, quality, security, and more.</p>
                        <!-- <a routerLink="" class="btn mt-3">Discover More <i class="bi bi-arrow-right"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10">
                <div class="service-item2 wow fadeInDown" data-wow-duration="1.5s" data-wow-delay="0.6s">
                    <img src="assets/images/data-architecture.svg" class="service21-icon" alt="image" width="50px">
                    <div class="service-content">
                        <span>02</span>
                        <h4>Data Architecture</h4>
                        <p class="para">Creating a data architecture to govern how data is collected, integrated, stored, analyzed, and used.</p>
                        <!-- <a routerLink="" class="btn mt-3">Discover More <i class="bi bi-arrow-right"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10">
                <div class="service-item2 wow fadeInDown" data-wow-duration="1.5s" data-wow-delay="0.8s">
                    <img src="assets/images/data-quality.svg" class="service21-icon" alt="image" width="50px">
                    <div class="service-content">
                        <span>03</span>
                        <h4>Data Quality Management</h4>
                        <p class="para">Maintaining high-quality data by data cleansing, data enrichment, and data quality assurance.</p>
                        <!-- <a routerLink="" class="btn mt-3">Discover More <i class="bi bi-arrow-right"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10">
                <div class="service-item2 wow fadeInDown" data-wow-duration="1.5s" data-wow-delay="0.2s">
                    <img src="assets/images/data-integration.svg" class="service21-icon" alt="image" width="50px">
                    <div class="service-content">
                        <span>04</span>
                        <h4>Data Integration</h4>
                        <p class="para">Data virtualization and extract, transform, and load (ETL) processes are used to consolidate data from disparate data sources.</p>
                        <!-- <a routerLink="" class="btn mt-3">Discover More <i class="bi bi-arrow-right"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10">
                <div class="service-item2 wow fadeInDown" data-wow-duration="1.5s" data-wow-delay="0.8s">
                    <img src="assets/images/data-storage.svg" class="service21-icon" alt="image" width="50px">
                    <div class="service-content">
                        <span>05</span>
                        <h4>Data Storage</h4>
                        <p class="para">Data deduplication, data profiling, and standardization enable data consistency and quality across transactional and business intelligence systems.</p>
                        <!-- <a routerLink="" class="btn mt-3">Discover More <i class="bi bi-arrow-right"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10">
                <div class="service-item2 wow fadeInDown" data-wow-duration="1.5s" data-wow-delay="0.8s">
                    <img src="assets/images/data-security.svg" class="service21-icon" alt="image" width="50px">
                    <div class="service-content">
                        <span>06</span>
                        <h4>Data Security</h4>
                        <p class="para">To prevent unauthorized data access and inappropriate data usage, set up data security practices and conduct regular BI and DWH risk assessments.</p>
                        <!-- <a routerLink="" class="btn mt-3">Discover More <i class="bi bi-arrow-right"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10">
                <div class="service-item2 wow fadeInDown" data-wow-duration="1.5s" data-wow-delay="0.8s">
                    <img src="assets/images/data-backup.svg" class="service21-icon" alt="image" width="50px">
                    <div class="service-content">
                        <span>07</span>
                        <h4>Data Migration and Backup</h4>
                        <p class="para">With preliminary data assessment and data migration automation, you can move your data from one system to another with guaranteed efficiency and security.</p>
                        <!-- <a routerLink="" class="btn mt-3">Discover More <i class="bi bi-arrow-right"></i></a> -->
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>

<div class="faq-section pt-50 pb-100" id="faq">
    <div class="container">
        <div class="row">
            <!-- <div class="col-md-12 title text-center">
                <span>ServiceNow Services</span>
                <h3>Importance of Microservice Architecture</h3>
            </div> -->
        </div>
        <div class="row pt-5 g-4 justify-content-center">
            <div class="col-lg-4">
                <div class="sidebar-card wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s">
                    <img src="assets/images/big-data.jpg" width="100%">
                    <h2 class="pt-3">Big Data Services</h2>
                    <p class="pt-3">With big data analysis, we help companies maximize the
                        value of their data and achieve their business objectives.</p>
                    <!-- <p class="pt-3">Certain Application performance monitoring products use network traffic to measure app performance, while others rely on server and app metrics. App Dynamics, an application performance monitoring tool, performs code-level profiling and transaction tracing. Such monitoring not only identifies resources that are slowing down the app but also assists in determining why they are slowing down.</p> -->
                    <!-- <a href="contact.html" class="eg-btn btn--primary btn--lg">Work Together</a> -->
                </div>
            </div>
            <div class="col-lg-8">
                <div class="col-md-12 title mb-5">
                    <!-- <span>ServiceNow Services</span> -->
                    <!-- <h3>Big Data Services</h3>
                    <p class="pt-3">With big data analysis, we help companies maximize the
                        value of their data and achieve their business objectives.</p> -->
                    <!-- <p class="pt-3">Certain Application performance monitoring products use network traffic to measure
                        app performance, while others rely on server and app metrics. App Dynamics, an application
                        performance monitoring tool, performs code-level profiling and transaction tracing. Such
                        monitoring not only identifies resources that are slowing down the app but also assists in
                        determining why they are slowing down.</p> -->
                </div>
                <!-- <div class="col-lg-6"> -->
                <div class="row g-4 justify-content-center">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-10">
                        <div class="service-item2 style-3 wow fadeInDown" data-wow-duration="1.5s"
                            data-wow-delay="0.2s">
                            <div class="service-content">
                                <span class="sn">01</span>
                                <h4>Big Data Consulting</h4>
                                <p>With the help of our experts, you can extract valuable insights from large amounts of multi-structured, identify market trends and improve customer satisfaction.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-10">
                        <div class="service-item2 style-3 wow fadeInDown" data-wow-duration="1.5s"
                            data-wow-delay="0.4s">
                            <div class="service-content">
                                <span class="sn">02</span>
                                <h4>Big Data Implementation</h4>
                                <p>To meet your business needs and objectives, we develop and implement a full-scale big data analytics solution with our advanced tech.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-10">
                        <div class="service-item2 style-3 wow fadeInDown" data-wow-duration="1.5s"
                            data-wow-delay="0.6s">
                            <div class="service-content">
                                <span class="sn">03</span>
                                <h4>Big Data Support</h4>
                                <p>We perform a health check to diagnose issues within the existing big data infrastructure, provide tailored recommendations, and implement, as needed, to ensure a big data solution’s maximum ROI and smooth evolution.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-10">
                        <div class="service-item2 style-3 wow fadeInDown" data-wow-duration="1.5s"
                            data-wow-delay="0.8s">
                            <div class="service-content">
                                <span class="sn">04</span>
                                <h4>Big Data Managed Analytics</h4>
                                <p>We analyze your big data to provide actionable one-time or ongoing analytics insights without the need to set up and maintain a proprietary big data solution.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>

<div class="join-section pb-100">
    <div class="container">
        <div class="joinus-area d-flex align-items-center wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.2s">
            <div class="row d-flex align-items-center g-4">
                <div class="col-lg-7 justify-content-lg-start justify-content-center text-lg-start text-center">
                    <h2>We're Always Looking For Talented People Our Agency.</h2>
                </div>
                <div class="col-lg-5 d-flex justify-content-lg-end justify-content-center mt-md-0 mt-5">
                    <a href="contact.html" class="eg-btn btn--primary capsule joinus-btn">Join Us</a>
                </div>
            </div>
        </div>
    </div>
</div>